<div class="login-container">
    <mat-card>
      <mat-card-header>
        <mat-card-title>Create Account</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
          <mat-form-field appearance="fill">
            <mat-label>First Name</mat-label>
            <input matInput formControlName="firstname">
            <mat-error *ngIf="loginForm.get('firstname')?.hasError('required')">First Name is required</mat-error>
          </mat-form-field>
  
          <mat-form-field appearance="fill">
            <mat-label>Last Name</mat-label>
            <input matInput formControlName="lastname">
            <mat-error *ngIf="loginForm.get('lastname')?.hasError('required')">Last Name is required</mat-error>
          </mat-form-field>
  
          <mat-form-field appearance="fill">
            <mat-label>Email</mat-label>
            <input matInput formControlName="email">
            <mat-error *ngIf="loginForm.get('email')?.hasError('required')">Email is required</mat-error>
            <mat-error *ngIf="loginForm.get('email')?.hasError('email')">Invalid email format</mat-error>
          </mat-form-field>
  
          <mat-form-field appearance="fill">
            <mat-label>Password</mat-label>
            <input matInput placeholder="Enter your password" formControlName="password">
            <mat-error *ngIf="loginForm.get('password')?.hasError('required')">Password is required</mat-error>
          </mat-form-field>
  
          <button mat-raised-button color="primary" type="submit">Create</button>
        </form>
      </mat-card-content>
    </mat-card>
  </div>
  