<mat-drawer-container style="height: 100vh;">
  <mat-drawer  #drawer position="end" style="width: 500px;">
    <ng-container *ngComponentOutlet="dynamicComponent"></ng-container>
  </mat-drawer>
  <mat-drawer-content>
<div class="navbar">
  <div class="navbar-logo">
    <mat-icon>store</mat-icon>
  </div>

  <div class="navbar-links">
    <button mat-button routerLink="/offer">Sale</button>
    <button mat-button routerLink="/winter-sale">Winter Sale</button>

    <button
      mat-button
      [matMenuTriggerFor]="menMenu"
      (click)="toggleSubMenu('menMenu')"
      (menuClosed)="closeSubMenu()"
    >
      Men
      <mat-icon>{{
        showSubMenu === "menMenu" ? "keyboard_arrow_up" : "keyboard_arrow_down"
      }}</mat-icon>
    </button>
    <mat-menu #menMenu="matMenu">
      <button mat-menu-item routerLink="/men">Men's Clothing</button>
      <button mat-menu-item routerLink="/men/shoes">Men's Shoes</button>
    </mat-menu>

    <button
      mat-button
      [matMenuTriggerFor]="womenMenu"
      (click)="toggleSubMenu('womenMenu')"
      (menuClosed)="closeSubMenu()"
    >
      Women
      <mat-icon>{{
        showSubMenu === "womenMenu"
          ? "keyboard_arrow_up"
          : "keyboard_arrow_down"
      }}</mat-icon>
    </button>
    <mat-menu #womenMenu="matMenu">
      <button mat-menu-item routerLink="/women/clothing">Womens T-Shirt</button>
      <button mat-menu-item routerLink="/women/shoes">
        Womens Full Sleeve T-shirt
      </button>
    </mat-menu>

    <button
      mat-button
      [matMenuTriggerFor]="kidsMenu"
      (click)="toggleSubMenu('kidsMenu')"
      (menuClosed)="closeSubMenu()"
    >
      Kids
      <mat-icon>{{
        showSubMenu === "kidsMenu" ? "keyboard_arrow_up" : "keyboard_arrow_down"
      }}</mat-icon>
    </button>
    <mat-menu #kidsMenu="matMenu">
      <button mat-menu-item routerLink="/kids/clothing">Kids' Clothing</button>
      <button mat-menu-item routerLink="/kids/shoes">Kids' Shoes</button>
    </mat-menu>

    <button mat-button routerLink="/blogs">Blogs</button>
  </div>

  <div class="navbar-actions">
    <button mat-icon-button>
      <mat-icon>search</mat-icon>
    </button>
    <button mat-icon-button (click)="openCart()">
      <mat-icon>shopping_cart</mat-icon>
    </button>
    <button mat-button  routerLink="/login">
      <mat-icon>person_add</mat-icon>
    </button>
  
  </div>
</div>
<div>
  <router-outlet></router-outlet>
</div>
</mat-drawer-content>
</mat-drawer-container>