
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
    padding: 10px;
    font-size: 24px;
    background-color: #276f3c;
    color: white;
  }
  
  .navbar-logo {
    margin-right: 20px;
  }
  
  .navbar-links,
  .navbar-actions {
    display: flex;
 
  }
  

  .navbar-links button {
    color: white;
  }

  .navbar-actions button {
    color: white;
  }
  .navbar-actions {
    display: flex;
    align-items: center;
  }
  
  
  mat-icon {
    margin-right: 4px; 
  }
  
