.login-container {
    display: flex;
 flex-direction: row;
 justify-content: center;
   
  }
  

  mat-card-header {
  align-items: center;
  }
  
  mat-card-title {
    font-size: 1.5em; 
    padding: 15px;
    margin-left: 110px;
  }

  mat-card {
    width: 400px;
    margin: 20px;
    padding: 20px;
  }
  
  mat-form-field {
    width: 100%;
    margin-bottom: 16px;
  }
  
  input {
    width: 100%;
  }
  
  mat-label {
    color: #333;
  }
  
  mat-error {
    color: #d9534f;
    font-size: 14px;
    margin-top: 4px;
  }
  
  button {
    width: 100%;
    margin-top: 16px;
  }
  
  .registration-button {
    text-align: center;
    margin-top: 16px;
  }
  
  .registration-button button {
    width: auto; /* Adjust the width as needed */
  }
  